/* ===== TASK MODULE ===== */
.kanban-column > .card-table > .task-module {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: var(--spacing-sm) 18px;
    margin-top: var(--spacing-lg);
    border-radius: var(--border-radius-md);
    box-shadow: 0px 0px 4px var(--shadow-light);
}

/* ===== TASK TEXT ===== */
.kanban-column > .card-table > .task-module > .task-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 18px;
}

.kanban-column > .card-table > .task-module > .task-text > p:first-child {
    font-weight: bold;
    font-size: var(--font-lg);
}

.kanban-column > .card-table > .task-module > .task-text > p:nth-child(2) {
    font-weight: 300;
    font-size: var(--font-xs);
}

.kanban-column > .card-table > .task-module > .task-text > p:last-child {
    font-weight: 400;
    font-size: var(--font-sm);
}

.kanban-column > .card-table > .task-module > .task-text > p > .emoji {
    font-size: var(--sidebar-icon-size);
    filter: drop-shadow(0 0 2px var(--black));
}

/* ===== TASK PRIORITY ===== */
.kanban-column > .card-table > .task-module > p {
    background-color: var(--status-red);
    width: 18%;
    color: var(--white);
    text-align: center;
    padding: 3px;
}

/* ===== TASK PROGRESS ===== */
.kanban-column > .card-table > .task-module > progress {
    width: 100%;
    padding: var(--spacing-md);
}

/* ===== TASK BUTTON ===== */
.kanban-column > .card-table > .task-module > button {
    width: 55px;
    background-color: var(--status-red);
    border: none;
    color: var(--white);
    padding: var(--spacing-xs);
}
